section {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  .card {
    background-color: rgba($color: #424242, $alpha: 0.6);

    .content {
      display: flex;
      gap: 20px;
      align-content: center;
      flex-direction: column;
    }
  }
}
