<mat-card class="card" [ngSwitch]="typeCard">
  <mat-card-header>
    <mat-card-title class="">{{ product.name }}</mat-card-title>
  </mat-card-header>

  <ng-container *ngSwitchDefault>
    <mat-card-content>
      <p>${{ product.price | number : "1.2-2" }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="warn"
        [disabled]="amount <= 0"
        (click)="emitAmount(-1)"
      >
        -1
      </button>
      <p>{{ amount }}</p>
      <button mat-raised-button color="primary" (click)="emitAmount(1)">
        +1
      </button>
    </mat-card-actions>
  </ng-container>

  <ng-container *ngSwitchCase="'ver'">
    <mat-card-content
      ><p>
        {{ amount }} units | ${{ product.price * amount | number : "1.2-2" }}
      </p></mat-card-content
    >
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/inicio', 'detalles', product.id]"
      >
        Ver
      </button>
    </mat-card-actions>
  </ng-container>

  <ng-container *ngSwitchCase="'remove'">
    <mat-card-content>
      <p>${{ product.price | number : "1.2-2" }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="emitAmount(-1)">
        Eliminar
      </button>
    </mat-card-actions>
  </ng-container>
</mat-card>
